<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar" style="display: none;">
        <div class="logo" onclick="showPage('home-page')">RealTimeForum</div>
        <div class="user-menu">
            <span id="usernameDisplay" onclick="toggleDropdown()"></span>
            <div id="dropdownMenu" class="dropdown-content">
                <div onclick="showPage('add-post-page')">New Post</div>
                <div id="logout">Logout</div>
            </div>
        </div>
        <script src="/static/js/logout.js"></script>
    </nav>


    <section id="register-login-page">
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" id="username" placeholder="Nickname" required>
                    <p id="nicknameError" class="hidden">Please enter a valid nickname</p>
                    <input type="text" id="age" placeholder="Age" required>
                    <p id="ageError" class="hidden">Please enter a valid age</p>
                    <input type="text" id="gender" placeholder="Gender" required>
                    <p id="genderError" class="hidden">Please insert a valid gender</p>
                    <input type="text" id="firstName" placeholder="First Name" required>
                    <p id="firstNameError" class="hidden">Please insert a valid name</p>
                    <input type="text" id="lastName" placeholder="Last Name" required>
                    <p id="lastNameError" class="hidden">Please insert a valid name</p>
                    <input type="email" id="email" placeholder="E-mail" required>
                    <p id="emailError" class="hidden">Please insert a valid Email</p>
                    <input type="password" id="pswd" placeholder="Password" required>
                    <p id="passwordError" class="hidden">Please insert a valid password</p>
                    <button type="button" id="signupBtn" disabled>Sign up</button>
                    <p id="alreadyUsed" class="hidden">Email or username already used!</p>
                    <p id="fillAll" class="hidden">Please fill in all required fields!</p>
                </form>
                <script src="/static/js/sign_up.js"></script>
            </div>

            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" id="emailNickname" placeholder="Email or Nickname" required>
                    <p id="emailNicknameError" class="hidden">Please insert a valid nickname or a valid email</p>
                    <input type="password" id="loginPswd" placeholder="Password" required>
                    <p id="loginPasswordError" class="hidden">Please insert a valid password</p>
                    <button type="button" id="loginBtn" disabled>Login</button>
                    <p id="falseUser" class="hidden">Username or Email not found !</p>
                    <p id="falsePaswd" class="hidden">Password not correct !</p>
                </form>
                <script src="/static/js/login.js"></script>
            </div>
        </div>
    </section>
    <div class="content-wrapper">
        <section id="home-page" style="display:none;">
        </section>
    </div>


    <section id="add-post-page" style="display:none;">
        <form method="post" id="postForm" class="post">
            <label>New Post</label>
            <input type="text" id="title" placeholder="Title" required>
            <input type="text" id="custom" placeholder="Add a custom category">
            <button id="addCategory">Add Category</button>
            <select id="categories">

            </select>
            <p id="categoryError" class="hidden">Can't add this category because it's already there</p>
            <textarea type="text" id="content" placeholder="content" required></textarea>
            <p id="contentError" class="hidden">Please enter a valid text !</p>
            <button id="submit" onclick="showPage('home-page')" disabled>Submit</button>
        </form>
        <script src="/static/js/post.js"></script>
    </section>
    <section id="profile-page" style="display:none;">
        <button id="update" onclick="showPage('home-page')">Update</button>
    </section>
    <script src="/static/js/index.js"></script>
</body>

</html>